
:root{
    --general-text-color: #757575;
    --tittle-color: #212121;
    --secondary-color: #FFFFFF;
    --accent-color: #2196F3;
}

body{
    background-color: var(--secondary-color);
}
.hero{
    background-color: #2F303A;
}
.tittle{
    color: var(--secondary-color);
}   
    
.subtitle{
    color: var(--tittle-color);
}
.text{
    color: var(--general-text-color);
}
ul {
    list-style: none;
}
.logo{
    color: #000000;
    text-decoration: none;
}
.logoweb{
    color: #2196F3;
}
.nav-list .link{
    color: var(--tittle-color);
    text-decoration: none;
    
}
.nav-list .link:hover,
.nav-list .link:focus{
    color: var(--accent-color);
} 
.contact-list .link{
color: var(--tittle-color);
text-decoration: none;
}   
.contact-list .link:hover, 
.contact-list .link:focus{
color: var(--accent-color);
}
.button{
    background-color: #FFFFFF;
    color: var(--tittle-color)
}
.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.team{
    background-color: #F5F4FA;
}
.footer{
    background-color: #2F303A;
}
.logofooter{
    color: #FFFFFF;
    text-decoration: none;
}
.address-list .street{
    color: var(--secondary-color);
}
.address-list .contact{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.address-list .contact:hover,
.address-list .contact:focus{
color: var(--accent-color)
}
